body {
	background-color: #444444;
}
.container {
width:600px;
padding:20px;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
border: #cccccc 4px solid;
}

h1 {text-align: center;
	color: #ffffff;
	padding: 0px 5px 5px;
	font-style: italic;
	font-weight: bold;


}
ul {text-align: center; padding: 0px;
}

li  {display:inline; font-family: helvetica;
	color: white;
	font-weight: bold;
	text-align: center;
	}

a {
	color: #81bf7e; text-align: center;
}

.right-border { 
	border-right:#cccccc 2px solid;
	padding: 0px;
	margin: 3px;
	list-style-type: none;
	text-align: center;

}

.divider { 
	border-top:#cccccc 1px solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {color: #ffffff;
	font-weight: bold;
	font-family: helvetica;
	
}

p {color: white; 
	padding-right: 5px;
	font-size: 14px; line-height: 150%;
	font-family: georgia;
}
img{
	border: #cccccc 1px solid;
	padding: 5px; margin-left: 12px;
}

h3 {
	font-family: helvetica;
	color:#cccccc;
}
.list {
	text-align: left;
}

.list li 
	{ 
	display: block;
   	display: list-item;
	list-style-type: square;
	color: white;
	font-size: 14px;
	padding: 0px;
	margin-left: 40px;
	text-align: left;}

.place  {
	font-weight: normal;
}	

.date {
	font-weight: normal;
	font-size: 13px;
	color:#cccccc;
}

.summary {
	font-weight: normal;
	color:#cccccc;
	font-size: 14px;
}

.degree {
	font-weight: normal;
}